.headings{
    text-align: center;
}


h2{
   
    text-decoration: underline;
}
.p1
{
    padding-left:33px;
}

.p2{
   padding-left: 86%;
   
}

table{
    border-collapse: collapse;
    width: 95%;
    background-color:lemonchiffon;
    padding-right:10px;
}
table,th,td{
    border: 1px solid black;    
    text-align: center;
}

tr{
    height: 60px;
}
.table1{
    padding-top: 10px;
    
}
.continer{
    background-color:burlywood;
}
section{
    padding-left:30px;
    padding-bottom:20px;
}

